.img-part{
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
.img-part:hover{
    width: 260px;
    height: 310px;
}
.growth{
    display: inline-block;
    border: 1px solid gray;
    margin: 6px;
    border-radius: 10px;
    /* grid-template-columns: 1; */
}